[Unit]
Requires=zookeeper.service
After=zookeeper.service

[Service]
Type=simple
User=kafka
ExecStart=/bin/bash -c '/boozo-hub/boozo-dat/downloads/kafka/bin/kafka-server-start.sh /boozo-hub/boozo-config/kafka/server.properties > /aimldl-dat/logs/kafka.log 2>&1'
ExecStop=/boozo-hub/boozo-dat/downloads/kafka/bin/kafka-server-stop.sh
Restart=on-abnormal

[Install]
WantedBy=multi-user.target
