numexpr
numpy
scipy
matplotlib
scikit-learn
pandas
sympy
networkx
scikit-image
pylint
PyYAML
Pillow
jupyter
Flask
flask_cors
fastapi
gunicorn
cython
h5py
easydict
wheel
python-dotenv
IPython[all]
jupyter_nbextensions_configurator
imgaug
pydot

opencv-python
opencv-contrib-python

mkdocs
#pdoc

gevent
redis
requests
#imutils

pendulum
arrow

pymongo

glog

##performance tester, profiler
##locustio ## this is giving _log_.error recently
snakeviz

## async libs for mongodb and for core python 3.5+
motor
asyncio
aiofiles
